.auth-container__link{
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 15px;
}
